<div class="container">
  <h2>按钮</h2>
  <b-button label="成功" type="success" [style]="btnStyle"></b-button>
  <b-button label="危险" type="danger" [style]="btnStyle"></b-button>
  <b-button label="主要" type="primary" [style]="btnStyle"></b-button>
  <b-button label="警告" type="warn" [style]="btnStyle"></b-button>
  <b-button label="普通" [style]="btnStyle">
    <span style="background-color: aquamarine; border-bottom: 1px solid #555;">你也可以在这里插入一些其他的内容</span>
  </b-button>

  <markdown [data]="markdown"></markdown>
</div>